table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black; 
}



.centrarHeader{
    font-weight: bold;
    text-align: center;
}

.centrarData{
    text-align: center;
}

button{
    margin-top: 10px;
    margin-right: 10px;
}

.boton-container {
    display: flex; 
}

.checkbox-container {
    display: flex;
}

.checkbox-item {
    align-self: center;
    transform: scale(1.5);
}