table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black; 
}

input[type="text"] {
    width: 200px;
    border: none;
}


.checkbox-container {
    display: flex;
}

.checkbox-item {
    align-self: center;
    transform: scale(1.5);
}


.centrarHeader{
    font-weight: bold;
    text-align: center;
}

.centrarData{
    text-align: center;
}

button{
    margin-top: 10px;
}