input{
    width: 200px;
    border: 0px;
}


.checkbox-container {
    display: flex;
}

.checkbox-item {
    align-self: center;
    transform: scale(1.5);
}


.centrarHeader{
    font-weight: bold;
    text-align: center;
}

.centrarData{
    text-align: center;
}

button{
    margin-top: 10px;
}