table {
    width: 100%;
    table-layout: auto; /* Ajusta el tamaño de las columnas al contenido */
    border-collapse: collapse;
    border: 2px solid black;
}

th, td {
    padding: 8px; /* Espaciado interno para las celdas */
    border: 1px solid #ddd; /* Borde entre las celdas */
    text-align: center; /* Centra el texto en las celdas */
    word-wrap: break-word; 
    overflow: hidden; /* Oculta el texto que se salga del ancho de la celda */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) si el texto es muy largo */

}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 10px;
}

.banner h1 {
    margin: 0;
    font-size: 2.5rem;
}

.config-btn {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}

.table-responsive {
    overflow-x: auto;
    max-width: 100%;
}

.form-check-label {
    white-space: nowrap;
}

.form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-container form {
    max-width: 600px;
    margin: auto;
}

.centrarHeader{
    font-weight: bold;
    text-align: center;
}

.centrarData{
    text-align: center;
}

button{
    margin-top: 10px;
    margin-right: 10px;
}

div{
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
}

.checkbox-item {
    align-self: center;
    transform: scale(1.5);
}
