{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cargar CSV</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosInicio.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script>
        {% if messages %}
        window.onload = function() {
            {% for message in messages %}
            alert("{{ message }}");
            {% endfor %}
        }
        {% endif %}
    </script>
    
</head>
<body>
    <div class="banner">
        <h1 class="my-4">Cargar archivo CSV</h1>
        <button type="button" class="btn config-btn" data-toggle="modal" data-target="#configModal">
            <i class="fas fa-cog"></i> 
        </button>
    </div>
    <div class="container mt-4">
        <div class="form-container">
            <!-- Formulario para cargar el archivo CSV -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_archivo_csv">Selecciona un archivo CSV:</label>
                    {{ form.archivo_csv }}
                </div>
                <div class="form-group">
                    <label for="id_separador">Selecciona el separador:</label>
                    {{ form.separador }}
                </div>
                <button type="submit" class="btn btn-primary">Subir archivo</button>
            </form>
        </div>
    </div>

    <!-- Modal para cambiar el host, el puerto, el usuario y la contraseña -->
    <div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="configModalLabel">Configuración de la Base de Datos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'cambiar_host_puerto' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_host">Host:</label>
                            <input type="text" class="form-control" id="id_host" name="host" value="{{ host }}">
                        </div>
                        <div class="form-group">
                            <label for="id_puerto">Puerto:</label>
                            <input type="text" class="form-control" id="id_puerto" name="puerto" value="{{ puerto }}">
                        </div>
                        <div class="form-group">
                            <label for="id_usuario">Usuario:</label>
                            <input type="text" class="form-control" id="id_usuario" name="usuario" value="{{ user }}">
                        </div>
                        <div class="form-group">
                            <label for="id_password">Contraseña:</label>
                            <input type="password" class="form-control" id="id_password" name="password" value="{{ password }}">
                        </div>
                        <div class="form-group">
                            <label>Hosts Disponibles:</label>
                            <ul class="list-group">
                                {% for host in hosts %}
                                    <li class="list-group-item">
                                        <strong>{{ host.name }}</strong> - Puerto: {{ host.port }} - Usuario: {{ host.user }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
