{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cargar CSV</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosInicio.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    

</head>
<body>

    <div class="banner d-flex justify-content-between align-items-center">
        <h1 class="my-4">Cargar archivo CSV</h1>
        <div>
            <!-- Botón de ajustes -->
            <button type="button" class="btn config-btn mr-2" data-toggle="modal" data-target="#configModal">
                <i class="fas fa-cog"></i>
            </button>

            <!-- Botón de logout -->
            <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        </div>
    </div>
    <div class="container mt-4">
        <div class="form-container">
            <!-- Formulario para cargar el archivo CSV -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_archivo_csv">Selecciona un archivo CSV:</label>
                    {{ form.archivo_csv }}
                </div>
                <div class="form-group">
                    <label for="id_separador">Selecciona el separador:</label>
                    {{ form.separador }}
                </div>
                <button type="submit" class="btn btn-primary">Subir archivo</button>
            </form>
        </div>
    </div>

    <!-- Modal para cambiar el host, el puerto, el usuario y la contraseña -->
    <div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="configModalLabel">Configuración de la Base de Datos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="{% url 'polls:cambiarhp' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_host">Host:</label>
                            <select class="form-control" id="id_host" name="host">
                                {% for host in unique_hosts %}
                                    <option value="{{ host }}" {% if host == selected_host %}selected{% endif %}>
                                        {{ host }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_puerto">Puerto:</label>
                            <select class="form-control" id="id_puerto" name="puerto">
                                {% for puerto in unique_ports %}
                                    <option value="{{ puerto }}" {% if puerto == selected_puerto %}selected{% endif %}>
                                        {{ puerto }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_usuario">Usuario:</label>
                            <select class="form-control" id="id_usuario" name="usuario">
                                {% for user in unique_users %}
                                    <option value="{{ user }}" {% if user == selected_usuario %}selected{% endif %}>
                                        {{ user }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_password">Contraseña:</label>
                            <input type="password" class="form-control" id="id_password" name="password" value="{{ password }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% if messages %}
        window.onload = function() {
            {% for message in messages %}
            Swal.fire({
                title: 'Mensaje del sistema',
                text: "{{ message|escapejs }}",  // Escapa el texto para evitar problemas con comillas
                icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% else %}info{% endif %}',
                confirmButtonText: 'Aceptar',
                customClass: {
                    popup: 'swal-custom-popup',  // Clase personalizada (opcional)
                }
            });
            {% endfor %}
        }
        {% endif %}
    </script>

</body>
</html>
