{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mostrar CSV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    
</head>

<body>
    <h1>Contenido del archivo CSV</h1>
    <form method="post" action="{% url 'update' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Seleccionar columnas a almacenar:</legend>
            <div class="checkbox-container">
                {% for header in columnas %}
                <div class="checkbox-item">
                    <input type="checkbox" id="header_{{ forloop.counter0 }}" name="columna{{ forloop.counter0 }}" value="{{ header }}">
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <table border="1">
            <thead>
                <tr>
                    {% for header in columnas %}
                    <th><input class="centrarHeader" type="text" name="header_{{ forloop.counter0 }}"
                            value="{{ header }}"></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in datos %}
                <tr >
                    {% for value in row %}
                    <td class="centrarData">{{ value }}</td>
                            
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Guardar cambios</button>
    </form>
    
    <a href="{% url 'cargar_csv' %}">
        <button>Cargar nuevo CSV</button>
    </a>
    
</body>

</html>