{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mostrar CSV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosInicio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosAparte.css' %}">

</head>

<body>


    <div class="banner d-flex justify-content-between align-items-center">
        <h1 class="my-4">Inserción en base de datos</h1>
        <div>
            <!-- Botón de logout -->
            <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        </div>
    </div>
        
    

    <div class="container">
        <div class="form-container">
            <div class="d-flex align-items-center justify-content-between mb-4">

                <div class="nueva-tabla-btn">
                    <!-- Botón para crear una nueva tabla -->
                    <button class="btn btn-success" onclick="mostrarFormulario()">Nueva Tabla</button>
                </div>
                
                <!-- Formulario para seleccionar el modelo -->
                <form method="post" action="{% url 'polls:insertar_datos' %}" class="form-inline d-flex align-items-center">
                    {% csrf_token %}
                    {% if tablas %}
                    <div class="form-group mr-2">
                        <label for="tabla" class="mr-2">Selecciona una tabla:</label>
                        <select name="tabla" id="tabla" class="form-control">
                            {% for tabla in tablas %}
                            <option value="{{ tabla }}">{{ tabla }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Insertar Datos</button>
                    {% else %}
                    <p>No hay tablas disponibles.</p>
                    {% endif %}
                </form>
            
                <!-- Botón de retroceder alineado con el formulario -->
                <a href="{% url 'polls:mostrar_csv' %}" class="btn btn-cancel">Retroceder</a>
            </div>
        
        </div>

        <div class="table-container">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        {% for columna, tipo in columnas_con_tipos %}
                        <th>
                            {{ columna }}
                            {% if tipo == 'bool' %}
                            (Tinyint)
                            {% elif tipo == 'int64' %}
                            (Integer)
                            {% elif tipo == 'float64' %}
                            (Double)
                            {% elif tipo == 'object' %}
                            (Varchar)
                            {% elif tipo == 'datetime64[ns]' %}
                            (Datetime)
                            {% endif %}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in datos %}
                    <tr>
                        {% for value in row %}
                        {% if value is None %}
                        <td class="text-center">-</td>
                        {% elif value == value and value != "NaT" %}
                        <td class="text-center">{{ value }}</td>
                        {% else %}
                        <td class="text-center">-</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        
    </div>
    
    <!-- Modal superpuesto para crear nueva tabla -->
    <div class="modal-overlay" id="formulario-nueva-tabla">
        <div class="modal-content">
            <div class="modal-header">
                Crear Nueva Tabla
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'polls:nueva_tabla' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre_tabla">Nombre de la nueva tabla:</label>
                        <input type="text" name="nombre_tabla" id="nombre_tabla" placeholder="Ejemplo: usuarios" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Tabla</button>
                    <button type="button" class="btn btn-cancel" onclick="cerrarFormulario()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/formulario.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% if messages %}
        window.onload = function() {
            {% for message in messages %}
            Swal.fire({
                title: 'Mensaje del sistema',
                text: "{{ message|escapejs }}",  // Escapa el texto para evitar problemas con comillas
                icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% else %}info{% endif %}',
                confirmButtonText: 'Aceptar',
                customClass: {
                    popup: 'swal-custom-popup',  // Clase personalizada (opcional)
                }
            });
            {% endfor %}
        }
        {% endif %}
    </script>
    
</body>

</html>