{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mostrar CSV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    
</head>

<body>

    <div class="banner d-flex justify-content-between align-items-center">
        <h1 class="my-4">Modificar nombres y formato de datos de las columnas</h1>
        <div>
            <!-- Botón de logout -->
            <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        </div>
    </div>
    
    <div class="container mt-4">
        <form method="post" action="{% url 'polls:update' %}">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            {% for columna, tipo_actual in columnas_con_tipos %}
                            <th>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="header_{{ forloop.counter0 }}" value="{{ columna }}">
                                    <select class="form-control mt-2" name="tipo_{{ forloop.counter0 }}">
                                        <option value="bool" {% if tipo_actual == 'bool' %}selected{% endif %}>Tinyint</option>
                                        <option value="object" {% if tipo_actual == 'object' %}selected{% endif %}>Varchar</option>
                                        <option value="int64" {% if tipo_actual == 'int64' %}selected{% endif %}>Integer</option>
                                        <option value="float64" {% if tipo_actual == 'float64' %}selected{% endif %}>Double</option>
                                        <option value="datetime64" {% if tipo_actual == 'datetime64[ns]' %}selected{% endif %}>DateTime</option>
                                    </select>
                                </div>
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in datos %}
                        <tr>
                            {% for value in row %}
                            {% if value is None %}
                            <td class="text-center"></td>
                            {% elif value == value and value != "NaT" %}
                            <td class="text-center">{{ value }}</td>
                            {% else %}
                            <td class="text-center">-</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% if messages %}
        window.onload = function() {
            {% for message in messages %}
            Swal.fire({
                title: 'Mensaje del sistema',
                text: "{{ message|escapejs }}",  // Escapa el texto para evitar problemas con comillas
                icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% else %}info{% endif %}',
                confirmButtonText: 'Aceptar',
                customClass: {
                    popup: 'swal-custom-popup',  // Clase personalizada (opcional)
                }
            });
            {% endfor %}
        }
        {% endif %}
    </script>
</body>

</html>
