{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mostrar CSV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosInicio.css' %}">

</head>

<body>
    <h1>Datos obtenidos del CSV</h1>

    <form method="post" action="{% url 'columnas_seleccionadas' %}">

        {% csrf_token %}
        <table border="1">
            <thead>
                <tr>
                    {% for columna, tipo in columnas_con_tipos %}
                    <div>
                        <th class="centrarHeader">
                            <input type="checkbox" id="header_{{ forloop.counter0 }}"
                                name="columna{{ forloop.counter0 }}" value="{{ columna }}">{{ columna }}
                            {% if tipo == 'bool' %}
                            (Tinyint)
                            {% elif tipo == 'int64' %}
                            (Integer)
                            {% elif tipo == 'float64' %}
                            (Double)
                            {% elif tipo == 'object' %}
                            (Varchar)
                            {% elif tipo == 'datetime64[ns]' %}
                            (Datetime)
                            {% elif tipo == 'char' %}
                            (Char)
                            {% elif tipo == 'date' %}
                            (Date)
                            {% elif tipo == 'time' %}
                            (Time)
                            {% elif tipo == 'timestamp' %}
                            (Timestamp)
                            {% elif tipo == 'decimal' %}
                            (Decimal)
                            {% endif %}
                        </th>
                    </div>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in datos %}
                <tr>
                    {% for value in row %}
                    <td class="centrarData">{{ value }}</td>

                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit">Confirmar seleccion</button>
    </form>
    <div class="boton-container">
        <a href="{% url 'modificar_csv' %}">
            <button type="button">Modificar columnas</button>
        </a>
        <a href="{% url 'cargar_csv' %}">
            <button type="button">Cargar nuevo CSV</button>
        </a>
    </div>


</body>

</html>