{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mostrar CSV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosInicio.css' %}">
    
    <script>
        {% if messages %}
        window.onload = function() {
            {% for message in messages %}
            alert("{{ message }}");
            {% endfor %}
        }
        {% endif %}
    </script>
</head>

<body>
    <div class="banner">
        <h1 class="my-4">Visualización del archivo cargado</h1>
    </div>
    <div class="container mt-4">
        
        <form method="post" action="{% url 'columnas_seleccionadas' %}">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            {% for columna, tipo in columnas_con_tipos %}
                            <th class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="header_{{ forloop.counter0 }}"
                                        name="columna{{ forloop.counter0 }}" value="{{ columna }}">
                                    <label class="form-check-label" for="header_{{ forloop.counter0 }}">
                                        {{ columna }}
                                        {% if tipo == 'bool' %}
                                        (Tinyint)
                                        {% elif tipo == 'int64' %}
                                        (Integer)
                                        {% elif tipo == 'float64' %}
                                        (Double)
                                        {% elif tipo == 'object' %}
                                        (Varchar)
                                        {% elif tipo == 'datetime64[ns]' %}
                                        (Datetime)
                                        {% endif %}
                                    </label>
                                </div>
                            </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in datos %}
                        <tr>
                            {% for value in row %}
                            <td class="text-center">
                                {% if value is None %}
                                -
                                {% elif value == value and value != "NaT" %}
                                {{ value }}
                                {% else %}
                                -
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Confirmar selección</button>
        </form>

        <div class="mt-3">
            <a href="{% url 'modificar_csv' %}" class="btn btn-secondary">Modificar columnas</a>
            <a href="{% url 'cargar_csv' %}" class="btn btn-secondary">Cargar nuevo CSV</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
