{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mostrar CSV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    
</head>

<body>
    <h1>Nombres columnas modificables </h1>
    <form method="post" action="{% url 'update' %}">
        {% csrf_token %}
        <table border="1">
            <thead>
                <tr>
                    {% for header in columnas %}
                    <th><input class="centrarHeader" type="text" name="header_{{ forloop.counter0 }}"
                            value="{{ header }}"></th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in datos %}
                <tr >
                    {% for value in row %}
                    <td class="centrarData">{{ value }}</td>
                            
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Guardar cambios</button>
    </form>
    
</body>

</html>