{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mostrar CSV</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosInicio.css' %}">

</head>

<body>
    <h1>Contenido del archivo CSV</h1>
    {% csrf_token %}
    <table border="1">
        <thead>
            <tr>
                {% for header in columnas %}
                <th class="centrarHeader">{{ header }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in datos %}
            <tr>
                {% for value in row %}
                <td class="centrarData">{{ value }}</td>

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="{% url 'modificar_csv' %}">
        <button type="button">Modificar columnas</button>
    </a>
    <a href="{% url 'cargar_csv' %}">
        <button>Cargar nuevo CSV</button>
    </a>

</body>

</html>